#master-container {  
    width: 375px;
    height: 667px;
    background-color:#929396;
    padding-top:.1px;
}
#header-container {
    width: 348px;
    height: 129px;
    background-color:#B8B8BF;
    margin:13px;
    padding-top:.1px;
}
#name {
    width: 307px;
    height: 39px;
    margin: 20px;
    background-color:#D6D6D6;
    text-align: center;
}
#button-container {
    width: 307px;
    height: 39px;
    margin: 20px;
    background-color:#D6D6D6;
    display: flex;
}
#work-button,
#about-button,
#resume-button {
    width: 95px;
    height: 25px;
    background-color: white;
    margin-left: 5px;
    margin-top: 7px;
    text-align: center;
}
#project1-container {
    width: 348px;
    height: 485.9px;
    background-color:#B8B8BF;
    margin-left: 13px;
    padding-top:.1px;
}
#project1-banner-image {
    width: 307px;
    height: 88px;
    background-color:#D6D6D6;
    margin-left: 20px;
    margin-top: 10px;
}
#description-container {
    width: 307px;
    height: 249px;
    background-color:#D6D6D6;
    margin:20px;
}
#p1_goals_heading {
    width: 215px;
    height: 46px;
    background-color: white;
    margin-left: 4px;
    margin-top: 20px;
}
#about-paragraph-p {
    width: 291px;
    height: 136px;
    background-color: white;
    margin-left: 4px;
    margin-top: 20px;
}
#project-image-1 {
    width: 307px;
    height: 88px;
    background-color:#D6D6D6;
    margin-left: 20px;
    margin-top: 20px;
}
#footer-social-container {
    width: 348px;
    height: 50px;
    background-color:#B8B8BF;
    margin-left:13px;
    padding-top:.1px;
}
#icon-bar {
    width: 307px;
    height: 39px;
    margin-left:20px;
    background-color: #D6D6D6;
    display: flex;
    margin-top: 5px;
}
#instagram-button,
#linkedin-button,
#email-button {
    width: 95px;
    height: 25px;
    background-color: white;
    margin-left: 5px;
    margin-top: 7px;
    text-align: center;
}
