body {
    background-color: #170827;
}
.master-for-header {
    width: 768px;
    height: 560px;
    position: relative;
    margin: 0 auto;
    background-size:contain;
    background-image: url(website-background.jpg);
    background-position: center center;
    background-repeat:repeat-y;
}
.stylized-header-hide {
    position: absolute;
    width: 768px;
    height: 608px;
    z-index: 2;
    background-size:contain;
    background-image: url(website-background.jpg);
    background-position: center center;
    background-repeat:repeat-y;
}
#stylized-header {
    background-image: url(title_image.png);
    width: 423px;
    height: 397px;
    background-size:cover;
    background-position: center center;
    margin-left: 175px;
    margin-top: 100px;
    z-index: 10;
}
.master-container {
    width: 768px;
    height: 5000px;
    position: relative;
    margin: 0 auto;
    background-size:contain;
    background-image: url(website-background.jpg);
    background-position: center center;
    background-repeat:repeat-y;
}
.visible-container {
    width: 768px;
    height: 5000px;
    margin:0 auto;
}
.intro-hide {
    position: absolute;
    width: 768px;
    height: 555px;
    z-index: 2;
    background-size:contain;
    background-image: url(website-background.jpg);
    background-position: center center;
    background-repeat:repeat-y;
}
.intro-hide-spacer {
    width: 698.75px;
    height: 912px;
}
.character {
    width: 180px;
    height: 180px;
    background-image: url(character-icon.png);
    background-size:cover;
    background-position: center center;
    position: fixed;
    top: 35%;
    left: 50.15%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
#intro {
    width: 589.125px;
    margin: 0 auto;
    margin-top: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: #FB447C;
    box-shadow: 0 0 6px #FB447C;
}
#intro h1,
#scenario1-container h1 {
    font-size: 27px;
    width: 508.875px;
    height: 39.375px;
    color: #FB447C;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 11px;
    font-family: liquor-store, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0 0 15px #FB447C;
}
#scenario1-container h1 {
    text-align: center;
}
#intro-part1,
#intro-part2 {
    width:508.875px;
    height: 120.25px;
    margin: 0 auto;
    margin-top: 2px;
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #54ABBE;
}
#intro-part3 {
    width:508.875px;
    height: 120.25px;
    margin: 0 auto;
    margin-top: -37px;
    margin-left: 40px;
    margin-bottom: 16px;
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #54ABBE;
}
#tools-education-container h1,
#scenario1-choice-container h1 {
    font-size: 19px;
    width: 508.875px;
    height: 39.375px;
    margin: 0 auto;
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 550;
    color: #FB447C;
    text-align: center;
    text-shadow: 0 0 15px #FB447C;
}
#tools-education-container {
    width: 559.125px;
    height: 217.875px;
    margin: 0 auto;
    margin-top: 200px;
}
.flexbox {
    width: 559.125px;
    height: 217.875px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.condom-background {
    width:150px;
    height:150px;
    position: absolute;
    top:70px;
    left: 0px;
    background-image: url(condom-icon.png);
    background-size: cover;
    background-position: center center;
}
.condom-background-2 {
    width:150px;
    height:150px;
    position: absolute;
    top:70px;
    left: 0px;
    background-image: url(condom-icon-2.png);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
.prep-background {
    width:150px;
    height:150px;
    position: absolute;
    top: 70px;
    left: 100px;
    background-image: url(prep-icon.png);
    background-size: cover;
    background-position: center center;
}
.prep-background-2 {
    width:150px;
    height:150px;
    position: absolute;
    top:70px;
    left: 100px;
    background-image: url(prep-icon-2.png);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
.abstinence-background {
    width:150px;
    height:150px;
    position: absolute;
    top: 70px;
    left: 310px;
    background-image: url(abstinence-icon.png);
    background-size: cover;
    background-position: center center;
}
.abstinence-background-2 {
    width:150px;
    height:150px;
    position: absolute;
    top:70px;
    left: 310px;
    background-image: url(abstinence-icon-2.png);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
.testing-background {
    width:150px;
    height:150px;
    position: absolute;
    top: 70px;
    left: 410px;
    background-image: url(testing-icon.png);
    background-size: cover;
    background-position: center center;
}
.testing-background-2 {
    width:150px;
    height:150px;
    position: absolute;
    top:70px;
    left: 410px;
    background-image: url(testing-icon-2.png);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
.condom-background,
.condom-background-2,
.prep-background,
.prep-background-2,
.abstinence-background,
.abstinence-background-2,
.testing-background,
.testing-background-2 {
    clip-path: inset(5px 33px);
    cursor: pointer;
}
#click-on-icons-direction {
    width: 285px;
    height: 50px;
    margin: 0 auto;
    margin-top: 111px;
    position: relative;
    visibility: visible;
}
#triangle-click-on-icons { 
    width: 41px;
    height: 41px;
    background-image: url(triangle-click-icons.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: -4px;
    left: 3px;
}
#text-click-on-icons {
    font-family: liquor-store, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #54ABBE;
    position: absolute;
    top: -10px;
    left: 13px;
    text-shadow: 0 0 15px #54ABBE;
}
#popup1,
#popup2,
#popup3,
#popup4 {
    visibility: hidden;
    width: 510.044px;
    height: 260px;
    position: absolute;
    border-style: solid;
    border-width: 1px;
}
#popup1 {
    left: 130px;
    top: 1010px;
/*    overflow:auto;*/
    border-color: #8CA18C;
    box-shadow: 0 0 6px #8CA18C;
}
#popup1-overflow {
    width: 510.044px;
    height: 189px;
    overflow: auto;
    margin-top:52px;
    margin-bottom: 0px;
}
#popup2 {
    left: 130px;
    top: 1010px;
    /*overflow: auto;*/
    border-color: #6E949E;
    box-shadow: 0 0 6px #6E949E;
}
#popup2-overflow {
    width: 510.044px;
    height: 189px;
    overflow: auto;
    margin-top:52px;
    margin-bottom: 0px;
}
#popup3 {
    left: 130px;
    top: 1010px;
    overflow: auto;
    border-color: #D3A7AE;
    box-shadow: 0 0 6px #D3A7AE;
}
#popup3-overflow {
    width: 510.044px;
    height: 189px;
    overflow: auto;
    margin-top:52px;
    margin-bottom: 0px;
}
#popup4 {
    left: 130px;
    top: 1010px;
    overflow: auto;
    border-color: #B4AC92;
    box-shadow: 0 0 6px #B4AC92;
}
#popup4-overflow {
    width: 510.044px;
    height: 189px;
    overflow: auto;
    margin-top:52px;
    margin-bottom: 0px;
}
#close-condom,
#close-prep,
#close-abstinence,
#close-testing {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 468px;
    transform: scale(.6);
}
#close-condom {
    background-image: url(condom-close.png);
}
#close-prep {
    background-image: url(prep-close.png);
}
#close-abstinence {
    background-image: url(abstinence-close.png);
}
#close-testing {
    background-image: url(testing-close.png);
}
.popup-headings {
    font-family: liquor-store, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    top: 17px;
}
#popup1 .popup-headings {
    color: #8CA18C;
}
#popup2 .popup-headings {
    color: #6E949E;
}
#popup3 .popup-headings {
    color:#D3A7AE;
}
#popup4 .popup-headings {
    color: #B4AC92;
}
#popup1 p,
#popup2 p,
#popup3 p,
#popup4 p {
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 20px 10px 20px;
}
#popup1 p{
    color: #8CA18C;
}
#popup2 p{
    color: #6E949E;
}
#popup3 p{
    color: #D3A7AE;
}
#popup4 p{
    color:#B4AC92;
}
ul {
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
li {
    margin-top: 15px;
}
#popup1 ul{
    color:#8CA18C ;
}
#popup2 ul{
    color: #6E949E;
}
#popup3 ul {
    color: #D3A7AE;
}
#popup4 ul{
    color: #B4AC92;
}
#scenario1-container h1 {
    width: 580.379px;
    height: 71.623px;
    margin: 0 auto;
}
#scenario1-container {
    width: 615.963px;
    height: 2150px;
    margin: 0 auto;
    margin-top: 450px;
}
#story1line2,
#story1line3,
#story1line4,
#story1line5,
#story1line6,
#story1line7 {
    width: 586px;
    height: 193px;
    margin: 0 auto;
    margin-top: 100px;
}
#story1line1 {
    width: 586px;
    height: 193px;
    margin: 0 auto;
    margin-top: 210px;
}
#story1line1-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 52px;
}
#story1line2-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 511px;
}
#story1line3-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 52px;
}
#story1line4-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 489px;
}
#story1line5-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 64px;
}
#story1line6-img-text-outerbox{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 520px;
}
#story1line7-img-text-outerbox {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 80px;
}
#story1line1-img-text-innerrbox,
#story1line2-img-text-innerbox,
#story1line3-img-text-innerbox,
#story1line4-img-text-innerbox,
#story1line5-img-text-innerbox,
#story1line6-img-text-innerbox,
#story1line7-img-text-innerbox {
    position: relative;
    width: 250px;
    height: 250px;
}
#triangle-S1L1,
#triangle-S1L2,
#triangle-S1L3,
#triangle-S1L4,
#triangle-S1L5,
#triangle-S1L6,
#triangle-S1L7 {
    position: absolute;
    width: 200px;
    height: 200px;
}
#S1L1-p,
#S1L3-p,
#S1L5-p,
#S1L7-p {
    position: absolute;
    width: 170.753px;
    height: 144.749px;
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    text-align: left;
}
#S1L1-p {
    top: 51px;
    left: 102px;
}
#S1L3-p {
    top:28px;
    left: 76px;
    width: 185px;
}
#S1L5-p {
    top: 90px;
    left: 84px;
}
#S1L7-p {
    top:49px;
    left:86px;
}
#S1L2-p,
#S1L4-p,
#S1L6-p {
    position: absolute;
    width: 170.753px;
    height: 144.749px;
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    text-align: right;
}
#S1L2-p {
    top:-14px;
    left:-57px;
}
#S1L4-p {
    top:54px;
    left:-42px;
}
#S1L6-p {
    top:82px;
    left:-63px;
    width: 185px;
}
#scenario1-choice-container{ 
    width: 580.165px;
    height: 400.88px;
    margin: 0 auto;
    margin-top: 350px;
}
#scenario1-click-for-answer {
    width: 315px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    visibility: visible;
}
#circle-click-for-answer {
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #FB447C;
    border-radius: 50%;
    position: absolute;
    left: 20px;
}
#text-click-for-answer{
    font-family: liquor-store, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #54ABBE;
    position: absolute;
    top: 9px;
    left: 35px;
    text-shadow: 0 0 15px #54ABBE;
}
#scenario1-choice-popup {
    width: 590px;
    height: 214px;
    visibility: hidden;
    position: absolute;
    top: 4328px;
    left: 92px;
    border-style: solid;
    border-color: #FB447C;
    border-width: 1px;
    box-shadow: 0 0 6px #FB447C;
}
#scenario1-choice-popup-overflow {
    width: 590px;
    height: 174px;
    overflow: auto;
    margin-top:20px;
    margin-bottom: 20px;
}
#scenario1-choice-popup p {
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 20px 0px 20px;
    color: #FB447C;
}
#scenario1-choice-popup ul {
    font-family: ff-typestar-black-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 20px;
    margin-bottom: 0px;
    color: #FB447C;
}   
#close-scenario1-explanation {
    background-image: url(scenario1-popup-close.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 4385px;
    left: 577px;
    visibility: hidden;
}
.wind {
    background-color:turquoise
}
.visible {
    visibility: visible !Important;
}
.hidden {
    visibility: hidden !Important;
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #170827; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background:grey;
    border-radius: 2px;
}

